In [ ]:
DATA TYPE AND STRUCTURES ANSWERS :

                          THEORY ANSWERS :

1. What are data structures, and why are they important?
  - Data structures are specific formats for storing data in a computer's memory, enabling effecient access, manipulation and retrieval.They are crucial for programming because they provide the foundation for designing algorithms, optimizing code performance, and effectively solving problems.
    - Importance: Problem- solving, effeciency, scalability, algorithm design and code optimization.


2. Explain the difference between mutable and immutable data types with examples?
   - Mutable data types are those whose values or content can be modified after they have been initialized. When you modify a mutable object, you are changing the object in place, without creating a new object in memory.
    - Examples:
    - Lists (in Python): You can add, remove, or change elements within a list after it's created.
    - Dictionaries (in Python): You can add, remove, or modify key-value pairs in a dictionary.
  - Immutable Data Types:
Immutable data types are those whose values or content cannot be altered once they have been created. If you attempt to "modify" an immutable object, a new object with the desired changes is created in memory, and the variable referencing it is then updated to point to this new object. The original object remains unchanged.
    - Examples:
    - Strings (in Python): You cannot change individual characters within a string. Operations that appear to modify a string actually create a new string.
    - Tuples (in Python): Once a tuple is created, its elements cannot be changed, added, or removed.

3. What are the main differences between lists and tuples in Python?
  - The main differences between lists and tuples in Python 3 are centered around their mutability.
    - Mutability: This is the most significant difference. Lists are mutable, meaning their elements can be changed (added, removed, or modified) after creation. Tuples are immutable, meaning their elements cannot be altered once the tuple is created.

4. Describe how dictionaries store data?
  - Dictionary is a data structure that stores data as a key value pair. Keys are unique and immutable. Dictionaries are unordered but from python 3.7 version, dictionaries retain the order of intersection.
  - Here's how dictionaries stores data:
    - Key-Value Pairs:
Each piece of data in a dictionary consists of two parts: a unique key and its corresponding value.
    - Hashing:
When a key-value pair is added to a dictionary, the key is typically passed through a hash function. This function converts the key into a numerical hash value or hash code. This hash code determines where the key-value pair will be stored in memory.
    - Retrieval:
To retrieve a value, the key is again passed through the same hash function to generate its hash value. This hash value directs the dictionary to the correct location in the hash table to find the corresponding value.

5. Why might you use a set instead of a list in Python?
  - Sets take up a bit more memory than lists, and they aren't ordered the same way that lists are. But unlike lists, sets are always fast at: adding items, removing items, and checking whether an item is contained within a set.
  - We might use a Python set instead of a list in the following scenarios:
    - Fast membership testing.
    - Mathmatical set operations.
    - When order isn't important.

6. What is a string in Python, and how is it different from a list?
  - In Python, a string is an immutable sequence of characters, used to represent text. Strings are enclosed in single quotes, double quotes or triple quotes.
  - A list is a mutable, ordered sequence of items. Unlike strings, lists can contain items of different data types (e.g., numbers, strings, or even other lists). Lists are defined using square brackets with elements seprated by commas.
  - The key differences between strings and lists are:
    - Mutability- Strings are immutable but lists are mutable.
    - Data type of elements- Strings exclusively contain characters.   Lists can contain elements of any data type.
    - Representation- Strings are enclosed in quotes. Lists are enclosed in square brackets.

7. How do tuples ensure data integrity in Python?
  - Tuples in Python ensure data integrity primarily through their immutability. This characteristic means that once a tuple is created, its elements cannot be changed, added, or removed. This immutability directly contributes to data integrity in the following ways:
    - Protection Against Accidental Modification.
    - Hashability for Dictionary Keys and Set Elements.
    
8. What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table is a data structure that implements an associative array or dictionary, which maps keys to values. It uses a hash function to compute an index into an array of buckets or slots, from which the desired value can be found. The goal is to provide fast average-case time complexity for operations like insertion, deletion, and retrieval.
  - How it relatesto dictionaries in python:
     - Key value pairs.
     - Hashing.
     - Fast lookups.
     - Hashable keys.

9. Can lists contain different data types in Python?
  - Yes, Python lists can contain elements of different data types. This is a key feature of Python's flexibility and makes lists a highly versatile data structure.
For example, a single Python list can hold integers, strings, floats, booleans, and even other complex data structures like nested lists, tuples, or dictionaries, all within the same list.

10.  Explain why strings are immutable in Python?
  - Strings are immutable in Python, meaning their content cannot be changed after they are created. Any operation that appears to modify a string actually results in the creation of a new string object in memory.
      - In Python, if the value of an object cannot be changed over time, then it is known as immutable. Once created, the value of these objects is permanent.

11. What advantages do dictionaries offer over lists for certain tasks?
  - Dictionaries excel in scenarios requiring fast lookups, key-value associations, and complex data mappings, while lists are ideal for ordered collections, sequential processing, and simple data storage.
  
12. Describe a scenario where using a tuple would be preferable over a list?
  - using a tuple would be preferable over a list is when representing a collection of related, heterogeneous data that should remain constant throughout the program's execution, such as a record or a fixed set of coordinates.
      - For example, consider storing geographical coordinates (latitude, longitude, altitude). This data represents a specific point in space, and its components are distinct but intrinsically linked. Furthermore, these coordinates are typically fixed and should not be modified once defined.

13.  How do sets handle duplicate values in Python?
  - Python's built-in set data structure inherently handles duplicate values by ensuring that each element within a set is unique. Sets are designed to store only distinct elements.
When attempting to add a value that already exists within a set, the set simply ignores the new addition. This means that if you initialize a set with duplicate values or try to add a duplicate value using the add() method, the set will only retain one instance of that value.

14. How does the “in” keyword work differently for lists and dictionaries?
  - The in keyword in Python functions differently when used with lists compared to dictionaries due to their underlying data structures and how membership is defined.
     - For Dictionaries: When in is used with a dictionary, it checks for the presence of a specific key within the dictionary. It does not directly check for values. Dictionaries are implemented using hash tables, which allows for very efficient lookups.
     - For Lists: When in is used with a list, it checks for the presence of a specific element within the list. The operation involves iterating through the list, comparing each element to the target value until a match is found or the end of the list is reached. This is a linear search, and in the worst-case scenario, it requires checking every element in the list.

15. Can you modify the elements of a tuple? Explain why or why not?
  - No, the elements of a tuple cannot be modified directly after its creation. Tuples are immutable data structures in Python, which means their state cannot be changed once they are defined.
     
16. What is a nested dictionary, and give an example of its use case?
  - A nested dictionary is a dictionary in which the values associated with some keys are themselves other dictionaries. This structure allows for the representation of hierarchical or complex data, where information can be organized in a multi-layered fashion.
  - Example Use Case:
      - Storing Employee Information
A common use case for nested dictionaries is to store and manage structured data, such as records for multiple entities with various attributes. Consider a scenario where you need to store information about multiple employees in a company. Each employee has a unique ID, and for each employee, you want to store their name, department, and salary.

17. Describe the time complexity of accessing elements in a dictionary?
  - Accessing elements in a dictionary, particularly in implementations like Python's built-in dict which uses hash tables, typically has an average time complexity of O(1), also known as constant time. This means that, on average, the time it takes to retrieve a value associated with a key does not significantly increase as the size of the dictionary grows.

18. In what situations are lists preferred over dictionaries?
  - Lists are preferred over dictionaries in situations where:
     - Duplicate elements are allowed and relevant.
     - Simple, ordered collections are sufficient.
     - Data represents a fixed-size sequence.
     - Elements are accessed by numerical index.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  - Dictionaries are considered unordered because they don't store items in a specific sequence based on insertion order or any other predefined order. They are optimized for fast key-based lookups. This means you can't rely on the order in which you added items to a dictionary when retrieving them.
  - Why are dictionaries unordered:
        - Key-value pairs.
        - Hash table.
        - No implicit indexing.
     
20.  Explain the difference between a list and a dictionary in terms of data retrieval?
  - The fundamental difference between a list and a dictionary, in terms of data retrieval, lies in their underlying structure and how elements are identified and accessed.
  - Lists:
       - Ordered collection.
       - Index based retrieval.
       - Sequential Search (for value-based retrieval)
  - Dictionaries:
       - Key-value pairs.
       - Key-value retrievals.
       - Hash-based lookups.
  - In summary:
       - Lists: prioritize order and allow retrieval by numerical index.
       - Dictionaries: prioritize associating data with descriptive keys and offer efficient retrieval based on these keys.

                         ***    PRACTICAL ANSWERS :***

In [6]:
#1. Write a code to create a string with your name and print it.

name = "Saaransh"
print(name)

Saaransh

In [15]:
#2. Write a code to find the length of the string "Hello World"

my_string = "Hello World"
string_length = len(my_string)
print(f"The length of the string '{my_string}' is: {string_length}")

The length of the string 'Hello World' is: 11

In [17]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"

original_string = "Python Programming"
sliced_string = original_string[:3]
print(sliced_string)

Pyt

In [19]:
#4. Write a code to convert the string "hello" to uppercase.

text = "hello"
uppercase_string = text.upper()
print(uppercase_string)

HELLO

In [21]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

original_string = "I like apple"
new_string = original_string.replace("apple", "orange")
print(new_string)

I like orange

In [25]:
#6. Write a code to create a list with numbers 1 to 5 and print it.

my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [27]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]

my_list = [1,2,3,4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [29]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

my_list = [1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [34]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

my_list = ['a', 'b', 'c', 'd']
print(my_list[2])

c

In [36]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50]

my_list = [10,20,30,40,50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [38]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

my_tuple = (100,200,300)
print(my_tuple)

(100, 200, 300)

In [40]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

my_tuple = ('red', 'green', 'blue', 'yellow')
print(my_tuple[-2])

blue

In [42]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

my_tuple = (10,20,5,15)
print(min(my_tuple))

5

In [46]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index('cat'))

1

In [48]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ("apple", "banana", "orange")
if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

In [50]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'c', 'a'}

In [52]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

my_set = {1,2,3,4,5}
my_set.clear()
print(my_set)

set()

In [54]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

my_set = {1,2,3,4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [56]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1,2,3}
set2 = {3,4,5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [58]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

set1 = {1,2,3}
set2 = {2,3,4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [60]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

my_dict = {"name": "Saaransh", "age": 29, "city": "New Delhi"}
print(my_dict)

{'name': 'Saaransh', 'age': 29, 'city': 'New Delhi'}

In [62]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [64]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

my_dict = {'name': 'Alice', 'age': 30}
print(my_dict['name'])

Alice

In [66]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [68]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

my_dict = {'name': 'Alice', 'city': 'Paris'}
if 'city' in my_dict:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [70]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [1,2,3,4,5]
my_tuple = (1,2,3,4,5)
my_dict = {name: "Saaransh", age: 29, city: "New Delhi"}

NameError: name 'age' is not defined

In [72]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[37, 60, 61, 74, 81]

In [74]:
#28. Write a code to create a list with strings and print the element at the third index.

my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_list[3])

date

In [77]:
#29. Write a code to combine two dictionaries into one and print the result.

dict1 = {'a': 1, b: 2}
dict2 = {c: 3, d: 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

NameError: name 'b' is not defined

In [78]:
#30. Write a code to convert a list of strings into a set.

my_list = ["kiwi", "cream", "serum", "banana", "tissues"]
my_set = set(my_list)
print(my_set)

{'derum', 'tissues', 'cream', 'banana', 'kiwi'}